
@{
    ViewBag.Title = "ExpenseDelete";
}

<h2>ExpenseDelete</h2>

<html>
<head>
    <title>Industryal - ERP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
</head>
<body>


    <div class="container-fluid">
        <header class="border bg-dark m-0 p-1 fixed-top">
            <div class="row">
                <div class="col-9 ">
                    <h1 class="text-white"><i>ERP</i></h1>
                </div>

                <div class=" col-lg-3  ">
                    <ul class="nav justify-content-center ">
                        <li class="nav-item"><a class="nav-link text-white btn btn-outline-primary btn-block  mt-2" href="@Url.Action("Home", "HR_Basic")"><i class="fas fa-home"></i>Home</a></li>
                        <li class="nav-item"><a class="nav-link text-white btn btn-outline-primary btn-block  mt-2" href="@Url.Action("ProfileDetails", "HR_Profile")"><i class="fas fa-user"></i>Profile</a></li>
                        @*<span style="padding-right:7px;"></span>*@
                        <li class="nav-item"><a class="nav-link text-white btn btn-outline-primary btn-block mt-2" href="@Url.Action("Logout", "usersActivity")"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-2">
            <nav class=" navbar border-dark w-25">

                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("UserCreate", "HR_User")">New user</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("UserList", "HR_User")"> User List</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("EmployeeCreate", "HR_Employee")"> New Employee</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("CreateEmployeeGroup", "HR_Employee")">Add group</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("EmployeeList", "HR_Employee")">Employee List</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("EmployeeSchedule", "HR_Employee")">Schedules</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("LeaveRequest", "HR_LeaveRequest")">Leave Request</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("LeaveRequestList", "HR_LeaveRequest")">Leave Request List</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("ExpenseReport", "HR_Expense")"> Expense Report</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("ExpenseList", "HR_Expense")"> Expense  Report List</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-outline-primary btn-block mt-2" href="@Url.Action("ExpenseStatistic", "HR_Expense")">Expense Statistic</a></li>

                </ul>
            </nav>
        </div>


        <div class="col-10">

            <h3 class="text-center"><i class="fas fa-trash-alt"></i>Delete Expense</h3>
            @{
                if (TempData["Msg"] != null)
                {
                    <center>
                        <div class="alert alert-success w-25">
                            <span style="color:green;">@TempData["Msg"]</span>
                        </div>
                    </center>

                }


            }




            <br>
            <center> <span style="color:green;">@TempData["Msg"]</span></center>
            <table class="table table-hover ">
                <th> Name</th>
                <th>Catagory</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Expense Date</th>







                <tr>
                    <td>@Model.name</td>
                    <td>@Model.catagory</td>
                    <td>@Model.amount</td>
                    <td>@Model.description</td>
                    <td>@Model.expense_date</td>




                </tr>




            </table>

            <br>
            <div class="container">
                <div class="row justify-content-center">
                    <h3 class="text-dark">Are you sure to delete <strong>@Model.name</strong>?</h3>
                </div>
                <div class="row justify-content-center">
                    <form method="POST">

                        <input type="submit" value="Delete" class="btn btn-danger">
                        <a href="@Url.Action("ExpenseList", "HR_Expense")" class="btn btn-success">Back</a>
                    </form>


                </div>
            </div>

        </div>

    </div>

    <!-- Footer Starts-->
    <footer id="main-footer" class="bg-primary text-white mt-5 p-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead text-center">
                        Copyright &copy;
                        <span>2022</span>
                        ERP
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->



</body>
</html>


